<div class="mid">
    <main class="main">
        {{ partial "main/landing/home-landing.html" . }}
    </main>
    <!-- Cutom markup for the category list -->
    <div class="mid">
        <div class="home-categories" id="category-grid">
            <div>
                {{ partial "main/categories.html" . }}
                <!-- <ul id="ei-migration-examples-list">
        <li><a href="/docs/migration-examples/authenticating-salesforce-using-oauth2/">Some sample text</a></li>
      </ul> -->
            </div>
        </div>
    </div>

    {{ partial "main/landing/home-sections.html" . }}
</div>