<div class="mid">
    <main class="main">
        {{ partial "main/landing/home-landing.html" . }}
    </main>
    <!-- Cutom markup for the category list -->
    <div class="mid">
        <div class="home-categories" id="category-grid">
            <div style="margin-bottom: 2em;">
                This site contains various examples to demonstrate the capabilities of the WSO2 Enterprise Integrator and the Streaming Integrator. The following examples are categorized based on its purpose and a comprehensive guide along with downloadable content is
                also available.
            </div>
            <div>
                {{ partial "main/categories.html" . }}
            </div>
        </div>
    </div>

    {{ partial "main/landing/home-sections.html" . }}
</div>