#category-grid {
    margin: 2em;
}

.header__wrapper .title {
    font-size: 1.5rem;
}

.home-categories {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.categories-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(70px, auto);
}

.grid__cell {
    margin-bottom: 16px;
    min-width: 0;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.grid__cell:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .grid {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
    }
    .grid:after {
        content: '';
        display: block;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .grid:after {
        width: calc(50% - 16px);
    }
    .grid__cell {
        margin-right: 16px;
        width: calc(50% - 16px);
    }
    .grid__cell:nth-of-type(2n) {
        margin-right: 0;
    }
    .grid__cell:nth-of-type(2n-1):nth-last-of-type(2) {
        margin-bottom: 0;
    }
    .home-categories {
        grid-template-columns: minmax(700px, 1000px);
    }
}

@media (min-width: 992px) {
    .grid:after {
        width: calc(33% - 16px);
    }
    .grid__cell {
        margin-right: 16px;
        width: calc(33% - 16px);
    }
    .grid__cell:nth-of-type(3n) {
        margin-right: 0;
    }
    .grid__cell:nth-of-type(3n-2):nth-last-of-type(2) {
        margin-bottom: 0;
    }
    .grid__cell:nth-of-type(3n-1):nth-last-of-type(2),
    .grid__cell:nth-of-type(3n-2):nth-last-of-type(3) {
        margin-bottom: 0;
    }
    .grid__cell:nth-of-type(3n-2):last-of-type {
        margin-right: calc(33% + 32px);
    }
    .home-categories {
        grid-template-columns: minmax(700px, 1000px);
    }
}

.grid {
    margin-bottom: 1rem;
}